.grid{
    display: grid;
    grid-template-columns: repeat(7, 110px);
    grid-template-rows: repeat(6, 110px);
    width: 800px;
    height: 770px;
    margin: 0 auto;
    justify-content: center;
    align-content: center;
    background-color: blue;
    border:10px solid navy;
}

.cell-0{
    border:3px solid blue;
    background-color: white;
    margin: 5px;
    border-radius: 50%;
    outline:  3px solid navy;
}

.cell-2{
    border:3px solid blue;
    background-color: yellow;
    margin: 5px;
    border-radius: 50%;
    outline:  3px solid navy;
}

.cell-1{
    border:3px solid blue;
    background-color: red;
    margin: 5px;
    border-radius: 50%;
    outline:  3px solid navy;
}

.add {
    height: 75px;
    width: 110px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: navy;
    padding: 10px 10px;
    font-weight: bold;
    border: none !important;
    background: white;
    transition-duration: 0.4s;
}

.add:hover {
    background: cornflowerblue;
}
.end {
    justify-content: center;
    align-content: center;
    margin: 0 auto;
    height: 100px;
    width: 100px;

}
.new-game {
    height: 40px;
    width: 100px;
    background-color: royalblue;
    border:5px solid navy;
    transition-duration: 0.4s;
}

.new-game:hover {
    background: cornflowerblue;
    border: 5px solid royalblue;
}

.title {
    font-size: 50px;
    text-shadow: 1px 1px 1px grey, 2px 2px 1px grey;
    font-weight: bold;
    text-align: center;
}

.outcome-red {
    font-size: 50px;
    color: red;
    text-shadow: 1px 1px 1px grey, 2px 2px 1px grey;
    font-weight: bold;
    text-align: center;
}

.outcome-yellow {
    font-size: 50px;
    color: yellow;
    text-shadow: 1px 1px 1px grey, 2px 2px 1px grey;
    font-weight: bold;
    text-align: center;
}

.outcome-draw {
    font-size: 50px;
    color: blue;
    text-shadow: 1px 1px 1px grey, 2px 2px 1px grey;
    font-weight: bold;
    text-align: center;
}

.home{
    position: relative;
    background-image: url("https://pics.me.me/connect-four-no-one-ever-plays-connect-four-mb-30720535.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 500px;
    width: 100%;
}

.pick-game-1{
    position: absolute;
	padding: 10px;
	background-color: royalblue;
    color: white;
	border-radius: 16px;
    border: none !important;
	bottom: 5%;
	left: 20%;
	width: 80px;
    transition-duration: 0.4s;
}

.pick-game-2{
    position: absolute;
	padding: 10px;
	background-color: royalblue;
    color: white;
    border: none !important;
	border-radius: 16px;
	bottom: 5%;
	left: 80%;
	width: 80px;
    transition-duration: 0.4s;
}

.home .pick-game-1:hover{
    background-color: navy;
}

.home .pick-game-2:hover{
    background-color: navy;
}

.show-red-turn {
    font-size: 30px;
    color: red;
    text-shadow: 1px 1px 1px grey, 1px 1px 1px grey;
    text-align: center;
}

.show-yellow-turn {
    font-size: 30px;
    color: yellow;
    text-shadow: 1px 1px 1px grey, 1px 1px 1px grey;
    text-align: center;
}