<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>Connect 4</title>
    <link href="static/main.css" rel="stylesheet" type="text/css">
</head>
<div class = "home">
    <div class = "welcome">Welcome to Connect-4!</div>
    <body>
        <form method = post action = "/ai-game">
            <button name = "new-game" type="submit" class="pick-game-1" value = "True">1 Player Game</button>
        </form>
        <form method = post action = "/game">
            <button name = "new-game" type="submit" class="pick-game-2" value = "True">2 Player Game</button>
        </form>
    </body>
</div>
