<!DOCTYPE html>
<head>
    <title>CONNECT 4</title>
    <link href="static/main.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div class = "grid">
        <div class = "cell"></div>
        <div class = "cell"></div>
        <div class = "cell"></div>
        <div class = "cell"></div>
        <div class = "cell"></div>
        <div class = "cell"></div>
        <div class = "cell"></div>
        
        

        <div class = "cell"></div>
        <div class = "cell"></div>
        <div class = "cell"></div>
        <div class = "cell"></div>
        <div class = "cell"></div>
        <div class = "cell"></div>
        <div class = "cell"></div>


        <div class = "cell"></div>
        <div class = "cell"></div>
        <div class = "cell"></div>
        <div class = "cell"></div>
        <div class = "cell"></div>
        <div class = "cell"></div>
        <div class = "cell"></div>


        <div class = "cell"></div>
        <div class = "cell"></div>
        <div class = "cell"></div>
        <div class = "cell"></div>
        <div class = "cell"></div>
        <div class = "cell"></div>
        <div class = "cell"></div>


        <div class = "cell"></div>
        <div class = "cell"></div>
        <div class = "cell"></div>
        <div class = "cell"></div>
        <div class = "cell"></div>
        <div class = "cell"></div>
        <div class = "cell"></div>


        <div class = "cell"></div>
        <div class = "cell"></div>
        <div class = "cell"></div>
        <div class = "cell"></div>
        <div class = "cell"></div>
        <div class = "cell"></div>
        <div class = "cell"></div>

        <form method = post action = "/game">
            <button name="column" type="submit" value="0">Add counter</button>
        </form>
        <form method = post action = "/game">
            <button name="column" type="submit" value="1">Add Counter</button>
        </form>
        <form method = post action = "/game">
            <button name="column" type="submit" value="2">Add Counter</button>
        </form>
        <form method = post action = "/game">
            <button name="column" type="submit" value="3">Add Counter</button>
        </form>
        <form method = post action = "/game">
            <button name="column" type="submit" value="4">Add Counter</button>
        </form>
        <form method = post action = "/game">
            <button name="column" type="submit" value="5">Add Counter</button>
        </form>
        <form method = post action = "/game">
            <button name="column" type="submit" value="6">Add Counter</button>
        </form>
    </div>

</body>