<!DOCTYPE html>
<head>
    <title>CONNECT 4</title>
    <link href="main.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div class = "grid">
        <div class = "cell"></div>
        <div class = "cell"></div>
        <div class = "cell"></div>
        <div class = "cell"></div>
        <div class = "cell"></div>
        <div class = "cell"></div>
        <div class = "cell"></div>
        

        <div class = "cell"></div>
        <div class = "cell"></div>
        <div class = "cell"></div>
        <div class = "cell"></div>
        <div class = "cell"></div>
        <div class = "cell"></div>
        <div class = "cell"></div>


        <div class = "cell"></div>
        <div class = "cell"></div>
        <div class = "cell"></div>
        <div class = "cell"></div>
        <div class = "cell"></div>
        <div class = "cell"></div>
        <div class = "cell"></div>


        <div class = "cell"></div>
        <div class = "cell"></div>
        <div class = "cell"></div>
        <div class = "cell"></div>
        <div class = "cell"></div>
        <div class = "cell"></div>
        <div class = "cell"></div>


        <div class = "cell"></div>
        <div class = "cell"></div>
        <div class = "cell"></div>
        <div class = "cell"></div>
        <div class = "cell"></div>
        <div class = "cell"></div>
        <div class = "cell"></div>


        <div class = "cell"></div>
        <div class = "cell"></div>
        <div class = "cell"></div>
        <div class = "cell"></div>
        <div class = "cell"></div>
        <div class = "cell"></div>
        <div class = "cell"></div>

        <button>Add Counter</button>
        <button>Add Counter</button>
        <button>Add Counter</button>
        <button>Add Counter</button>
        <button>Add Counter</button>
        <button>Add Counter</button>
        <button>Add Counter</button>

        <!-- <button onclick="addCounter(0)">Add Counter</button>
        <button onclick="addCounter(1)">Add Counter</button>
        <button onclick="addCounter(2)">Add Counter</button>
        <button onclick="addCounter(3)">Add Counter</button>
        <button onclick="addCounter(4)">Add Counter</button>
        <button onclick="addCounter(5)">Add Counter</button>
        <button onclick="addCounter(6)">Add Counter</button> -->

    </div>

</body>